*{
	margin:0;
	padding:0;
}
body{
	background-size:280%;
	background-position: -200px 0;
}
div.main{
	width:400px;
	margin:40px auto 10px;
}
h2{
	text-align: center;
	padding: 10px;
	font-family: sans-serif;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
div.register{
	width:100%;
	font-size: 15px;
}
form#register{
	margin:40px;
}
label{
	font-family:sans-serif;
	font-size:18px;
	font-style:italic;
}
#name{
	width:300px;
	border:1px solid #ddd;
	border-radius: 3px;
	outline:0;
	padding: 7px;
	background-color: #fff;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);

	position: relative;
	z-index: 3;
	display: block;
	padding: 1.3em;
	font-weight: bold;
	border-radius: 13em;
}

label,span{
	text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.button-hover{
	position: relative;
	min-width:230px;
	margin:1em;
	padding: 0.3em;
	background: linear-gradient(to right,#56ccf2,#2f80ed)
	border:0;
	cursor:pointer;
	border-radius: 20px;
}
.button-hover::before,
.button-hover::after{
	content:'';
	position: absolute;
	left: 0;
	right:0;
	top:0;
	bottom: 0;
	background: linear-gradient(to right,#56ccf2,#2f80ed);
	border-radius: 20px;
	transition: all .5s ease-in-out;
}
.button-hover:hover::before{
	filter:blur(5px);
}
.button-hover:hover::after{
	filter:blur(15px);
}
.button-hover:hover{
	animation: hue 3s linear infinite;
}
@keyframes hue{
	0%{
		filter: hue-rotate(0deg);
	}
	100%{
		filter: hue-rotate(100deg);
	}
}
.button-hover span{
	position: relative;
	z-index: 3;
	display: block;
	padding: 1.0em;
	font-family: 'italic',sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color:#fff;
	text-transform: uppercase;
	background-color: #2c2e36;
	border-radius: 10em;
}
#name{
	position: relative;
	z-index: 3;
	display: block;
	padding: 1.0em;
	font-family: 'italic',sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color:#fff;
	background-color: #2c2e36;
	border-radius: 10em;
}
